body {
  background-color: #F4F4F4;
}

#thong-tin-san-pham {
  margin-top: 10px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#thong-tin-co-ban h4 {
  font-weight: 400;
}

#thong-tin-co-ban .name p {
  font-size: 85%;
}

#thong-tin-co-ban .price p {
  font-size: 90%;
  font-weight: 400;
}

#thong-tin-co-ban .price span {
  font-size: 120%;
  font-weight: 600;
}

.price .hinh-thuc select {
  background-color: #fff;
  color: #0B7DDA;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */

.cursor {
  cursor: pointer;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */

.column {
  float: left;
  width: 20%;
  padding: 3px;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  width: 100%;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #0B7DDA;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#thong-tin {
  border: 1px solid #0B7DDA;
  border-radius: 6px 6px 0px 0px;
  margin-bottom: 4px;
  padding-top: 10px;
}

#xem-kinh-nghiem-mua {
  background-color: #0B7DDA;
  color: #fff;
  border: 1px solid #0B7DDA;
  border-radius: 0px 0px 6px 6px;
  text-align: center;
  padding-top: 10px;
}

#xem-kinh-nghiem-mua:hover {
  cursor: pointer;
  background-color: #0069D9;
}
